<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/home.css">
</head>
<body>
    <div id="main">
        <div id="page1">
            <nav>
                <div onclick=
                "window.location.href = 'home'">
                    <img id="logo-image" src="../public/unidrive-high-resolution-logo-transparent.png"
                    alt="" style="cursor:pointer;">
                </div>
                <div id="nav-part2">
                    <button class="nav-butt" onclick=
                    "window.location.href = 'passenger.html'"><a >Request a Ride</a></button>
                    <button class="nav-butt" onclick=
                    "window.location.href = '/publisher'"><a >Publish a Ride</a></button>
                    <div class="profile">
                        <button class="nav-butt" id="profile"><a>Profile</a></button>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="/account"><i class="ph-bold ph-user"></i>&nbsp;Account</a></li>
                            <!-- <li><a href="#"><i class="ph-bold ph-gear-six"></i>&nbsp;Settings</a></li> -->
                            <li><a href="/landing"><i class="ph-bold ph-question"></i>&nbsp;About</a></li>

                            <li><a href="/logout"><i class="ph-bold ph-sign-out"></i>&nbsp;Sign Out</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <h3>Menu</h3> -->
            </nav>
            <div id="center">
                <div id="left">
                </div>
                <div id="right">
                    <h1>CONNECT <br>
                        COMMUTE <br>
                        COLLABORATE</h1>
                </div>
            </div>
            <div id="hero-shape">
                <div id="hero-1"></div>
                <div id="hero-2"></div>
                <div id="hero-3"></div>
            </div>
        </div>
        </div>
    <script src="../public/home.js"></script>
    </body>
</html>